:root {
  --ff-sans: -apple-system, BlinkMacSystemFont, Segoe UI, system-ui, Roboto,
    PingFang SC, Hiragino Sans GB, Source Han Sans SC, Noto Sans CJK SC,
    Noto Sans SC, WenQuanYi Micro Hei, WenQuanYi Zen Hei, Helvetica Neue,
    Microsoft YaHei, Helvetica, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;
  --ff-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --clr-primary: white;
  --clr-secondary: #fefefe;
  --clr-border: #ded9e0;
  --clr-border-muted: rgba(209, 217, 224, 0.7);
  --clr-text: #000;
  --clr-text-muted: #59636e;
  --clr-text-accent: #000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0px;
}

ul {
  list-style-type: none;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  font-family: var(--ff-sans);
  color: rgb(75, 96, 114);
}

button,
input,
textarea {
  font: inherit;
}

ul {
  padding: 0;
}

/* utils */
.br-1 {
  border-radius: 4;
}

/* block */
.editor {
  display: grid;
}

/* sidebar */
.sidebar {
  border: 1px solid var(--clr-border);
  height: 100vh;
  position: relative;
  background-color: var(--clr-secondary);
  /* color: var(--clr-text-muted); */
}

.file-explore {
  height: 100%;
  padding: 6px;
  overflow-y: scroll;
}

.resize-handle {
  cursor: pointer;
  position: absolute;
  width: 5px;
  opacity: 0;
  background-color: var(--clr-border-muted);
  top: 0;
  bottom: 0;
  right: 0;
  transform: opacity 275ms ease;

  &:hover {
    opacity: 1;
    cursor: w-resize;
  }
}

.folder {
  position: relative;
  margin-left: 20px;
}

/* root folder should not have margin-left */
.file-explore > .folder {
  margin-left: 0px;
}

.fold-indicator {
  position: absolute;
  top: 30px;
  bottom: 0;
  width: 2px;
  left: 12px;
  background: var(--clr-border);
}

.sidebar-contextmenu {
  position: fixed;
  background-color: #ccc;
  width: 160px;
  border-radius: 8px;
  z-index: 99;

  & > li {
    cursor: pointer;
    padding: 5px;
    font-size: 14px;
  }
  & > li + li {
    border-top: 1px solid rgba(129, 139, 152, 0.45);
  }
}

.file-item {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  padding: 4px 6px;
  overflow: hidden;
  &:hover {
    background-color: rgba(129, 139, 152, 0.15);
  }
  &.active {
    font-weight: 500;
    background-color: rgba(129, 139, 152, 0.25); /* 颜色要比上面的更深点 */
  }
  & > * {
    flex-shrink: 0;
  }
}

.create-file-wrapper {
  padding-left: 18px;
  display: flex;
  align-items: center;
  gap: 6px;
  outline: 2px solid #ccc;
  margin-top: 6px;

  & > div {
    width: 18px;
    height: 18px;
  }
}

.create-file-input {
  max-width: 80%;
  border: none;
  outline: none;
}

/* tab */
.tabs {
  display: flex;
  /* TODO: 需要处理 overflow */
  flex-shrink: 0;

  & > li[aria-selected="true"] > .tab {
    border-bottom: 0;
    font-weight: 500;
    & > .x-container {
      opacity: 1;
    }
  }
}

.tab {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 8px 24px;
  margin-left: -1px;
  border: 1px solid var(--clr-border);
  position: relative;

  & > .x-container {
    top: 50%;
    position: absolute;
    opacity: 0;
    transition: opacity 275ms ease;
    transform: translateY(-50%);
    right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
    border-radius: 100%;
  }
  &:hover > .x-container {
    opacity: 1;
  }
  .x-container:hover {
    background-color: #ccc;
  }
}

.nav-tabs {
  display: flex;
  overflow-x: scroll;
  / *  这里可以用 scrollsnap 而不是滚动条？ */
}
.tabs-remaining {
  flex: 1;
  border: 1px solid var(--clr-border);
  border-left: 0;
}

.file-bar {
  border-bottom: 1px solid var(--clr-border);
  padding: 8px 12px;
}

.search-wrapper {
  display: flex;
  align-items: center;
  margin-top: 8px;
  gap: 12px;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  cursor: pointer;
  transition: background-color 275ms ease;
  &:hover {
    background-color: rgba(33, 33, 33, 0.3);
  }
}

.search-input-wrapper {
  display: block;
  border-radius: 8px;
  padding: 4px 6px;
  width: 60%;
  border: 1px solid var(--clr-border);
  position: relative;

  & > input {
    width: 100%;
    outline: none;
    border: none;
  }
}
.case-icon-wrapper {
  position: absolute;
  right: 2px;
  top: 8px;

  &.sensitive {
    & > svg {
      color: blue;
    }
  }
}
.file-bar-header {
  letter-spacing: 1.03px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > svg {
    cursor: pointer;
  }
  &.search {
    & > svg {
      color: blue;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
}

.cm-container {
  flex: 1;
  position: relative;
  overflow-y: hidden;
}

.cm-editor .cm-scroller {
  font-family: var(--ff-mono);
  font-size: 14px;
}

.status-line {
  font-family: var(--ff-mono);
  position: fixed;
  bottom: 0px;
  background-color: var(--clr-secondary);
  width: 100%;
  padding-inline: 12px;
}
